.git
.gitignore
.next
node_modules
apps/api/node_modules
packages/db/node_modules
packages/shared/node_modules
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idx
.vscode
old
dist
coverage
